.h1
{
  font-size: 4rem;
}

img
{
  border-radius: 50%;
  height: 300px;
  width: 100%;
}

h3
{
  margin-top: 3rem;
  color: rgb(30, 141, 175);
}

.bools
{
    color: greenyellow;
    font-weight: bolder;
}
